.main {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	min-height: 100vh;
	padding-right: 6rem;
	padding-left: 6rem;
	padding-bottom: 6rem;

	background-color: #101020;
}
